body {
  background: red;
}

.wrapper {
  margin: auto;
  width: 90%;
  margin-top: 25px;
}

.main-content {
  width: 100%;
  margin: 0 auto;

  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-content {
  background-image: url(../../assets/main-img/3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex; */
  border-radius: 0px 0px 35px 35px;
  height: 15%;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  .logo-content {
    width: 15%;
    /* margin: 0 auto; */
    /* padding: 35px 0px; */
    display: flex;
    align-items: center;
    img {
      width: 100%;
      /* height: 100%; */
      border-radius: 8px;
    }
  }

  p {
    font-size: 20px;
    font-family: poppins;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
  }

  button {
    background: none;
    border: none;
    width: 8%;
    img {
      width: 100%;
    }
  }
}

.bottom-content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding: 50px 0px; */
  //   height: 35%;
  flex: 1;
}

.bottom-section-order-items {
  background: rgba(217, 217, 217, 0.42);
  border-radius: 8px;
  width: 100%;

  .orders-header-section {
    border-radius: 8px 8px 0px 0px;
    background: rgba(25, 48, 70, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    h1 {
      color: rgba(255, 255, 255, 1);
      font-size: 20px;
      margin: 0;
      font-family: poppins;
      font-weight: 700;
      line-height: 20px;
    }
  }
  .orders-bottom-content {
    width: 95%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px 0px;
    // background: antiquewhite;
    .orders-bottom-header-section {
      display: flex;
      align-items: center;
      width: 100%;
      // background: aqua;
      justify-content: space-between;
      .orders-number {
        // background: burlywood;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(180, 180, 180, 1);
        p {
          color: rgba(126, 126, 126, 1);
          font-size: 13px;
          margin: 0;
          font-family: poppins;
          font-weight: 400;
          line-height: 20px;
        }
      }
      .orders-price {
        // background: chartreuse;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(180, 180, 180, 1);
        p {
          color: rgba(126, 126, 126, 1);
          font-size: 13px;
          margin: 0;
          font-family: poppins;
          font-weight: 400;
          line-height: 20px;
        }
      }
      .orders-status {
        // background: chartreuse;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(180, 180, 180, 1);
        p {
          color: rgba(126, 126, 126, 1);
          font-size: 13px;
          margin: 0;
          font-family: poppins;
          font-weight: 400;
          line-height: 20px;
        }
      }
      .orders-delete {
        // background: chartreuse;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
        }
      }
    }
    ul {
      width: 100%;
      padding: 0;
      margin: 0;
      .order-item-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(180, 180, 180, 1);
        margin-top: 10px;
        .orders-number {
          // background: burlywood;
          width: 15%;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            color: rgba(126, 126, 126, 1);
            font-size: 12px;
            margin: 0;
            font-family: poppins;
            font-weight: 400;
            line-height: 20px;
          }
        }
        .orders-price {
          // background: chartreuse;
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            color: rgba(126, 126, 126, 1);
            font-size: 12px;
            margin: 0;
            font-family: poppins;
            font-weight: 400;
            line-height: 20px;
          }
        }
        .orders-status {
          // background: chartreuse;
          width: 35%;
          display: flex;
          justify-content: center;
          align-items: center;

          .status-process {
            color: rgba(242, 72, 34, 1);
            font-size: 12px;
            margin: 0;
            font-family: poppins;
            font-weight: 400;
            line-height: 20px;
          }
          .status-completed {
            color: rgba(20, 174, 92, 1);
            font-size: 12px;
            margin: 0;
            font-family: poppins;
            font-weight: 400;
            line-height: 20px;
          }
        }
        .orders-delete {
          // background: chartreuse;
          width: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
          }
        }
      }
    }
  }
}

.bottom-btn-section {
  width: 100%;
  display: flex;
  ul {
    list-style: none;
    background: rgba(199, 197, 197, 0.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    border-radius: 8px;
    .bottom-btn-list:first-child {
      margin-top: 0;
    }
    .bottom-btn-list {
      width: 90%;
      margin-top: 15px;
      button {
        width: 100%;
        background: rgba(185, 94, 55, 1);
        font-size: 20px;
        font-family: poppins;
        font-weight: 400;
        line-height: 20px;
        color: rgba(255, 255, 255, 1);
        border-radius: 8px;
        padding: 10px 0px;
      }
    }
  }
}

.footer-btn-section {
  background: rgba(25, 48, 70, 1);
  width: 100%;
  position: absolute;
  height: 60px;
  bottom: 0;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-main-btn-section {
    position: relative;
    bottom: 30px;
    margin: 0 auto;
    width: 85%;
    display: flex;
    align-items: center;
    .semi-btn {
      button {
        background: rgb(25, 48, 70);
        /* padding: 10px 18px; */
        width: 60px;
        height: 60px;
        border: 4px solid rgb(255, 255, 255);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 15px;
        font-family: poppins;
        color: aliceblue;
        font-weight: 600;
        line-height: 20px;
        img {
          width: 50%;
          height: 50%;
        }
      }
    }
    .home-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        background: rgb(25, 48, 70);
        /* padding: 10px 18px; */
        width: 100px;
        height: 100px;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 15px;
        font-family: poppins;
        color: aliceblue;
        font-weight: 600;
        line-height: 20px;
        img {
          width: 50%;
          height: 50%;
        }
      }
    }
  }
  .cart-btn-section {
    position: absolute;
    bottom: 160px;
    right: 30px;
    /* background: black; */
    /* width: 80%; */
    display: flex;
    button {
      background: rgb(25, 48, 70);
      width: 60px;
      height: 60px;
      /* border: 4px solid rgb(255, 255, 255); */
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 15px;
      font-family: poppins;
      color: aliceblue;
      font-weight: 600;
      line-height: 20px;
      img {
        width: 50%;
        height: 50%;
      }
    }
  }
}

#order-list-img {
  width: 65%;
  height: 65%;
}
