<ion-content [fullscreen]="true">
  <div class="main-content">
    <div class="top-content">
      <div class="header-section">
        <div class="logo-content">
          <img src="../../assets/main-img/Dog Nutrition.png" alt="" />
        </div>
        <p>Welcome Admin</p>
        <button><img src="../../assets/main-img/Logout.svg" alt="" /></button>
      </div>
    </div>
    <div class="bottom-content">
      <div class="wrapper">
        <div class="main-product-content">
          <div class="product-header-content">
            <h1>Orders</h1>
          </div>
          <div class="product-bottom-content">
            <div class="product-more-details-header-section">
              <div class="product-id-section" id="id-section">ID</div>
              <div class="product-name-section" id="name-section">
                Orders list
              </div>
              <div class="product-price-section" id="price-section">Price</div>
              <div class="product-delete-section" id="delete-section"></div>
            </div>
            <div class="product-more-details-bottom-section">
              <ul>
                <li class="product-details-section" (click)="openEditOrder()">
                  <div class="product-id-section" id="bottom-id-section">1</div>
                  <div class="product-name-section" id="bottom-name-section">
                    item
                  </div>
                  <div class="product-price-section" id="bottom-price-section">
                    Rs 2000
                  </div>
                  <div
                    class="product-delete-section"
                    id="bottom-delete-section"
                  >
                    <button>
                      <img src="../../assets/main-img/comfirm.svg" alt="" />
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-btn-section">
    <div class="home-btn">
      <button><img src="../../assets/main-img/home.svg" alt="" />Home</button>
    </div>
  </div>
</ion-content>
