<ion-content [fullscreen]="true">
  <div class="main-content">
    <div class="top-content">
      <div class="logo-content">
        <img src="../../assets/main-img/Dog Nutrition.png" alt="" />
      </div>
    </div>
    <div class="bottom-content">
      <div class="wrapper">
        <div class="login-content">
          <h1>Sign In</h1>
          <form action="#" (submit)="login()">
            <input
              type="text"
              placeholder="Enter User Name"
              [(ngModel)]="username"
              name="username"
            />
            <input
              type="password"
              placeholder="Enter  Password"
              [(ngModel)]="password"
              name="password"
            />
            <!-- <select name="role" id="role">
              <option value="admin">Admin</option>
              <option value="customer">Customer</option>
            </select> -->
            <ion-select
              aria-label="role"
              placeholder="Role"
              toggleIcon="caret-down-sharp"
              [(ngModel)]="role"
              name="role"
            >
              <ion-select-option value="admin">Admin</ion-select-option>
              <ion-select-option value="customer">Customer</ion-select-option>
            </ion-select>
            <div class="submit-btn-section">
              <button type="submit">Log in</button>
            </div>
          </form>
          <div class="submit-text-line">
            <p>Don’t have an account?</p>
            <button (click)="navigateToRegister()">Register Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
