<div class="backdrop" (click)="close()"></div>
<div class="popup-main-content">
  <div class="close-btn">
    <button (click)="close()">
      <img src="../../../assets/main-img/Close.svg" alt="" />
    </button>
  </div>
  <div class="wrapper">
    <div class="order-main-list-content">
      <div class="order-list-header">
        <p>Item details</p>
      </div>
      <div class="order-bottom-list-content">
        <ul>
          <li class="order-list-item" *ngFor="let item of order.items">
            <div class="item-name">
              <p>{{ item.productName }}</p>
            </div>
            <div class="item-category">
              <button (click)="decreaseQuantity(item)">-</button>
              <p>{{ item.quantity }}</p>

              <button (click)="increaseQuantity(item)">+</button>
            </div>
            <div class="item-price">
              <p>Rs {{ item.price * item.quantity }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="total-price-content">
      <p>Total Price</p>
      <span>Rs {{ calculateTotal() }}</span>
    </div>
    <div class="order-btn-section">
      <button id="update-btn" (click)="updateOrder()">Update</button>
      <button id="cancel-btn" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
